.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.ant-btn-primary {
  background-color: black !important;
  border: none !important;
}

.ant-btn:hover {
  transform: scale(1.02) !important;
}

.ant-dropdown {
  border-radius: 7px !important;
}

.ant-dropdown-menu {
  border-radius: 7px !important;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  height: 42px;
  gap: 5px;
  color: rgb(0, 0, 0) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.ant-modal {
  display: flex;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.header-menu {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #fff !important;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px !important;
  padding: 10px 0px;
  height: auto !important;
  margin: 0 auto;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1300px) {
      max-width: 1230px;
    }
    img {
      cursor: pointer;
    }
  }
}
.header-menu .wallet-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.header-menu .connected-wallet-btn {
  height: 40px;
  border: 2px solid #70d549;
  border-radius: 50%;
  padding: 3px;
  background: #fff;
  margin-left: 5px;
}
.header-menu .account-btn {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: linear-gradient(30deg, #009140 100%, transparent 50%);
  border: 1px solid #009140;
  border-radius: 20px;
  padding-left: 15px;
  cursor: pointer;
}
.header-menu .chain-selector {
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 150px;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(30deg, #69bd83 100%, transparent 50%);
  border: 1px solid #69bd83;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
  padding-right: 15px;
  z-index: 9999999;
}
.header-menu .chain-selector:hover {
  transform: scale(1) !important;
}
.chain-selector-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  padding: 5px;
}

.page-content {
  color: #041836;
  overflow: auto;
  flex: 1 0 auto;

  .container {
    padding: 10px;
    margin: 0 auto;
    position: relative;
    max-width: 1230px;
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1300px) {
      max-width: 1230px;
    }
  }
}

@media (max-width: 768px) {
  .header-menu {
    .container {
      max-width: 100%;
    }
  }

  .page-content {
    overflow: auto;
    flex: 1 0 auto;
    .container {
      max-width: 100% !important;
    }
  }
}

@media (max-width: 500px) {
  .header-menu .connected-wallet-btn {
    margin-left: 0px;
  }
  .header-menu .account-btn {
    padding-left: 0px;
  }
  .header-menu .chain-selector {
    min-width: 30px;
    box-shadow: none;
    border-radius: 20px;
    background: transparent;
    border: none;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding: 0;
    color: #000;
  }
  .chain-selector-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    padding: 0px;
  }
}
